<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #documentoForm="ngForm" (ngSubmit)="agregarDocumento(documentoForm)">

                    <input type="hidden" name="_id" [(ngModel)]="documentoService.seleccionarDocumento._id">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tipo de documento" 
                        name="nombre" [(ngModel)]="documentoService.seleccionarDocumento.nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Breve descripcion"
                        name="descripcion" [(ngModel)]="documentoService.seleccionarDocumento.descripcion">
                    </div>
                    <button class="btn btn-secondary btn-sm me-2 mt-3">
                        Guardar
                    </button>
                    <button class="btn btn-primary btn-sm mt-3" (click)="limpiarFormulario(documentoForm)">
                        Limpiar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documento of documentoService.documentos">
                    <td>{{documento.nombre}}</td>
                    <td>{{documento.descripcion}}</td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="editarDocumento(documento)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="eliminarDocumento(documento._id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </div>
    </div>
</div>
